

body {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

   color: rgb(202, 182, 205);
background-color: rgb(145, 144, 152);
padding: 30px;
 text-align: left;
 .alignment-container img {
    vertical-align: middle; /* Aligns the image's middle with the text's middle */
  }
  
  .alignment-container {
    vertical-align: middle; /* Ensures the whole container aligns correctly if placed with other items */
  }

.sr{ background-color: palevioletred;
 padding:50px; 
border-radius: 100px;
}
.titel{ background-color: lightslategray;
border-radius: 20px;
padding: 20px;
}
.minecrap{ padding: 50px;
  background-color: green;
border-radius: 100px;

}
.autoamtiongam{ background-color: orange ;
padding:50px;
border-radius: 100px;
color: rgb(134, 133, 133);
}
.autismdoom{
background-color: red;
padding: 50px;
border-radius: 100px;
}
.suprearth{
background-color: rgb(255, 231, 16);
padding: 50px;
border-radius: 100px;

}
.nav {
  
  color:rgb(43, 45, 135);
  background-color: rgb(165, 164, 172);
  border: solid 2px rgb(202, 182, 205);
 height: 200px;
 width: 1000px
  display:flex;
  flex-direction: row;
  justify-content:space-around;
}

.navint{
 display:flex;
 justify-content:center;
 font-size:20px;
 height:100px;
 padding-top:10px;
 border-radius:2px;
 transition: transform .2s;
 background-color:rgb(165, 164, 172);
 color:rgb(43, 45, 135);
 border: solid 2px rgb(202, 182, 205);
}

.navint:hover{
 transform: scale(1.2);
 color: rgb(255, 255, 255);
}
.treat{
background-color: peachpuff;
border-radius: 100px;
padding: 50px;
}
 .linkylinks{
border-radius: 50px;
background-color: blue ;
}   
.sr:hover{
 transform: scale(1.2);
 background-color: palevioletred;
}
      .minecrap:hover{
 transform: scale(1.2);
 background-color: green;
}
      .autoamtiongam:hover{
 transform: scale(1.2);
 background-color: orange;
      }
         .autismdoom:hover{
 transform: scale(1.2);
 background-color: red;
         }
      .suprearth:hover{
 transform: scale(1.2);
 background-color: rgb(255, 231, 16);
      }
     }
